body {
  background-image: linear-gradient(to right, #b6fbff, rgb(161, 159, 159));
  font-weight: bold;
}

header,
h1 {
  margin-left: 10%;
  color: blue;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
  margin-left: 20%;
  border: 2px solid #ac12df;
  border-radius: 10px;
  padding: 20px;
}

.border {
  border: 2px solid #000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 16px;
  width: 300px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button {
  background-color: #553c9a;
  color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 43%;
  padding: 6px;
}

#user_name {
  width: 200px;
  height: 1.7rem;
}

#user_score {
  width: 200px;
  height: 1.7rem;
  margin-top: 10px;
}

.submit-b {
  float: right;
}

h2 {
  color: blue;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.score-form .input {
  height: 40px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}
